Create random data of distances (+- 10%) an average biker could acomplish biking from New York City to Key West, FL each Day.

In [12]:
import pandas as pd
from random import randrange

avgMPH = 16 #found on internet
totalMiles = 1519 #from Google Maps
timeBiking = 8 #in hours
distPerDay = avgMPH * timeBiking
daysNeeded = round(totalMiles / distPerDay)
days = list(range(1, daysNeeded + 1))
miles = [] #create a new list to take data from loop
sumMiles = [] #create a new list to take data from loop

for mile in days:
    rand = (randrange(round(distPerDay/1.1), round(distPerDay*1.1)))
    miles.append(rand) #append miles list with random values
    sumMile = sum(miles)
    sumMiles.append(sumMile) #append sumMiles list with sumMile

pdSeries = pd.Series(sumMiles, index=days)
totalDistance = pd.DataFrame({'Day' : days, 'Odometer Reading' : pdSeries})
totalDistance

    Day  Odometer Reading
1     1               132
2     2               251
3     3               391
4     4               512
5     5               634
6     6               759
7     7               877
8     8               996
9     9              1125
10   10              1258
11   11              1376
12   12              1498

Find total miles ridden per day from odometer readings.

In [11]:
dayMiles = [] #create a new list to take data from loop
x = 0
y = 0
pdlist = pdSeries.tolist() #convert pandas Series to a list

try:
    for dist in pdlist:
        if pdlist[x] - pdlist[0] <= 0: #to get first day value
            dd = pdlist[0]
            dayMiles.append(dd)
            x += 1
        else:
            dd = pdlist[x] - pdlist[y] #to get following days values
            dayMiles.append(dd)
            x += 1
            y += 1
except:
    pass #to avoid index out of range error from else clause in for loop

pdsMPD = pd.Series(dayMiles, index=days)

mpd = pd.DataFrame({'Day' : days, 'Miles per Day' : pdsMPD})
mpd

    Day  Miles per Day
1     1            135
2     2            139
3     3            123
4     4            131
5     5            117
6     6            139
7     7            133
8     8            118
9     9            122
10   10            130
11   11            128
12   12            119