In [2]:
import pandas as pd

# 1. What is the northernmost airport in the United States?

In [22]:
airportsOriginal = pd.read_csv('airports.csv')
airports = airportsOriginal.copy()

northernmost = airports.sort_values(by = 'lat', ascending = False)
northernmost[(northernmost['lat'] > 0) &
             (northernmost['lon'] < 0) &
             (northernmost['tz'] <= -5) &
             (northernmost['tz'] >= -10)].head(1)

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage

BRW is the northernmost airport in the United States.  Latitude will be the greatest number above 0 for the northern hemisphere.  United States time zones are -5 to -10.

# 2. What is the easternmost airport in the United States?

In [30]:
easternmost = airports.sort_values(by = 'lon', ascending = False)
easternmost[(easternmost['lat'] > 0) &
            (easternmost['lon'] < 0) &
            (easternmost['tz'] <= -5) &
            (easternmost['tz'] >= -10)].head(1)

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

EPM is the easternmost airport in the United States.  Longitude will be the smallest number below 0 from the Prime Maridian.  United States time sones are -5 to -10.

# 3. On February 12th, 2013, which New York area airport had the windiest weather?

In [31]:
weatherOriginal = pd.read_csv('weather.csv')
wind = weatherOriginal.copy()
wind = wind.sort_values(by = 'wind_speed', ascending = False)
wind[(wind['month'] == 2) &
     (wind['day'] == 12) &
     (wind['year'] == 2013) &
     (wind['wind_speed'] < 231)].head(1)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.0156,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z

LGA had the highest wind speed.  The maximum recorded wind speed is 231 MPH, so any values over that can be thrown out.